.upvote {
  cursor: pointer;
}

.upvote:hover, .upvote.active {
  color: #1890ff;
}

.action-links > a:not(:last-child) {
  margin-right: 5px;
}

.vote-container {
  position: absolute;
  width: 50%;
  top: 320px;
  left: 50px;
  z-index: 1000
}

.voting-container {
  width: 100%
}
